	<div id="sidebar">
			<div class="side-col ui-sortable">
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">党群建设管理</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/cms_dang_articles/new" title="Default Theme">新建党群建设</a>
							</li>
							<li>
								<a class="set_theme" id="light_blue" href="/cms_dang_articles" title="Light Blue Theme">党群建设列表</a>
							</li>
							
							
						</ul>
					</div>
				</div>
			</div>

    </div>