	<div id="sidebar">
			<div class="side-col ui-sortable">
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">宴请管理</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								
								<a class="set_theme" id="default" href="/entretains/new" title="Default Theme">宴请申请单</a>
							</li>
							<li>
								
								<a class="set_theme" id="light_blue" href="/entretains?q=submit" title="Light Blue Theme">已提交</a>
							</li>
							<li>
								<a class="set_theme" id="light_blue" href="/entretains?q=report" title="Light Blue Theme">审批</a>
							</li>
							<li>
								<a class="set_theme" id="light_blue" href="/entretains/statistics" title="Light Blue Theme">统计</a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>

    </div>