	<div id="sidebar">
			<div class="side-col ui-sortable">
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">物品出库</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/loan_goods/goods?is_consume=1" title="Default Theme">消耗品申请</a>
							</li>
							<li>
								<a class="set_theme" id="default" href="/loan_goods/goods?is_consume=0" title="Default Theme">非消耗品申请</a>
							</li>
							<li>
								<a class="set_theme" id="light_blue" href="/loan_goods?status=auddit" title="Light Blue Theme">待审核物品列表</a>
							</li>
							<li>
								<a class="set_theme" id="light_blue" href="/loan_goods?status=finished" title="Light Blue Theme">已经审核通过的物品列表</a>
							</li>
							<li>
								<a class="set_theme" id="light_blue" href="/loan_goods?status=reject" title="Light Blue Theme">审核不通过的物品列表</a>
							</li>
							
							<li>
								<a class="set_theme" id="light_blue" href="/loan_goods?status=return" title="Light Blue Theme">待还物品列表</a>
							</li>
				</ul>
					</div>
				</div>
			</div>

    </div>