	<div id="sidebar">
			<div class="side-col ui-sortable">
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">物品出库</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/loan_goods/goods" title="Default Theme">物品列表</a>
							</li>
							<li>
								<a class="set_theme" id="light_blue" href="/loan_goods" title="Light Blue Theme">待审核物品列表</a>
							</li>
							
							<li>
								<a class="set_theme" id="light_blue" href="/loan_goods" title="Light Blue Theme">待还物品列表</a>
							</li>
				</ul>
					</div>
				</div>
			</div>

    </div>