<%= render 'left'%>

<div id="main-wrapper">
	<div id="main-content">
				<%=render "shared/notice"%>
  <h3 class="center">
  <%= @cms_department.title %>
</h3>

<p>
  <%=raw @cms_department.content %>
</p>


</div>
</div>