
	<div class="list_ban" style="background-image: url(/images/home/list_banner.jpg);"></div>
	<div class="index_box list_bg">
		<div class="menu_box left">
			<div class="title_name">部门简介</div>
			<div class="menu_con">
				<ul>
					<li class="current"><a href="">组织机构</a></li>
					<li><a href="">业务范围</a></li>
					<li><a href="">人员信息</a></li>
					<li><a href="">团队建设</a></li>
				</ul>
				<div class="kj_con">
					<p><a href=""><img src="/images/home/kj_pt1.jpg" alt="" /></a></p>
					<p><a href=""><img src="/images/home/kj_pt2.jpg" alt="" /></a></p>
				</div>
			</div>
		</div>
		<div class="list_content right">
			<div class="title_con"><span class="right">当前位置：<a href="index.html">首页</a> > <span class="blue">部门简介</span></span><span class="name">部门简介</span></div>
			<div class="about_box">
				<p><img src="/images/home/about_pt2.jpg" alt="" /></p>
				<p>中国核电工程有限公司（China Nuclear Power Engineering Co.,Ltd.）是在中国核工业集团的大力支持和兄弟单位的全力配合下，依托原核工业第二研究设计院、核工业第五研究设计院的主营业务和主干力量以及核工业第四研究设计院从事核电工作及相关专业的技术骨干重组改制而成。</p>
				<p>公司是国防科工局确定的重点保军单位之一，是我国唯一具备核电、核化工、核燃料研发设计能力，专业配备最完整的工程公司。公司业务范围涵盖了核电前期策 划、可行性研究、项目咨询、环境评估、工程设计、设备采购、施工管理、建设监理、调试实施与管理、技术服务、招标代理、人员培训等。公司拥有核工业行业唯一的工程设计综合甲级资质（涵盖全部21个领域）等共9项甲级资质。</p>
				<p>公司是我国最早从事核电研究设计的单位，从技术后援到引进/消化吸收、自主设计再到自主知识品牌，逐步实现了我 国百万千瓦级压水堆核电站研发设计的“四级跳”。目前，公司同时开展的研发设计任务包括具有自主知识产权的第三代压水堆核电ACP1000、ACP100 的研发设计，AP1000第三代核电技术消化吸收，第四代快堆研发设计，以及裂变-聚变混合堆关键课题研究。</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="blank10"></div>
	