
	<div id="slideBox" class="slideBox">
		<div class="hd">
			<ul><li></li><li></li><li></li><li></li></ul>
		</div>
		<div class="bd">
			<ul>
				<li><a href="" style="background-image: url(/images/home/banner.jpg);"></a></li>
				<li><a href="" style="background-image: url(/images/home/banner.jpg);"></a></li>
				<li><a href="" style="background-image: url(/images/home/banner.jpg);"></a></li>
				<li><a href="" style="background-image: url(/images/home/banner.jpg);"></a></li>
			</ul>
		</div>
	</div>
	<div class="announcement">
		<ul>
			<li><span class="name">最新公告：</span><a href="">关于公布中国核动力研究设计院2015年硕士招生复试分数线及复试相关工作的通知</a><span class="time">2015-03-18</span></li>
		</ul>
	</div>
	<div class="blank20"></div>
	<div class="index_box">
		<div>
			<div class="main_news left">
				<div class="title">
					<a href="news.html" class="right">更多>></a>
					<ul id="titleMenuId">
						<li class="current">部门动态</li>
						<li>重要通知</li>
					</ul>
				</div>
				<div id="mainNewsId">
					<div class="news_m">
						<div class="con_1">
							<div class="pt"><a href="news_detail.html"><img src="/images/home/news_pt.jpg" alt="" /></a></div>
							<dl>
								<dt><a href="news_detail.html">中核集团福清5、6号机组建设专题会在司召开 </a></dt>
								<dd>2015年3月26日，中核集团福清5、6号机组工程建设专题会在中核工程公司召开。中核集团总经理、党组副书记钱智民，党组成员、副总经理俞培根，中国核能电力股份有限公司.....<a href="news_detail.html" class="orange_font">[查看详情]</a></dd>
							</dl>
						</div>
						<ul class="con_2">
							<li><a href="news_detail.html">情满春节，感谢有你——项目部开展</a></li>
							<li><a href="news_detail.html">福清项目部开展压力与情绪心理健康</a></li>
							<li><a href="news_detail.html">集团致信感谢公司在核工业60年</a></li>
							<li><a href="news_detail.html">一样的笑容，一样的关怀──福清谢 </a></li>
							<li><a href="news_detail.html">情满春节，感谢有你——项目部开展</a></li>
							<li><a href="news_detail.html">集团致信感谢公司在核工业60年谢公司活</a></li>
							<li><a href="news_detail.html">集团致信感谢公司在60年谢公司活动中</a></li>
							<li><a href="news_detail.html">情满春节，感谢有你——项目部开展</a></li>
						</ul>
					</div>
					<div class="news_m dn">
						<div class="con_1">
							<div class="pt"><a href=""><img src="/images/home/news_pt.jpg" alt="" /></a></div>
							<dl>
								<dt><a href="news_detail.html">22中核集团福清5、6号机组建设专题会在司召开 </a></dt>
								<dd>2015年3月26日，中核集团福清5、6号机组工程建设专题会在中核工程公司召开。中核集团总经理、党组副书记钱智民，党组成员、副总经理俞培根，中国核能电力股份有限公司.....<a href="news_detail.html" class="orange_font">[查看详情]</a></dd>
							</dl>
						</div>
						<ul class="con_2">
							<li><a href="news_detail.html">情满春节，感谢有你——项目部开展</a></li>
							<li><a href="news_detail.html">福清项目部开展压力与情绪心理健康</a></li>
							<li><a href="news_detail.html">集团致信感谢公司在核工业60年</a></li>
							<li><a href="news_detail.html">一样的笑容，一样的关怀──福清谢 </a></li>
							<li><a href="news_detail.html">情满春节，感谢有你——项目部开展</a></li>
							<li><a href="news_detail.html">集团致信感谢公司在核工业60年谢公司活</a></li>
							<li><a href="news_detail.html">集团致信感谢公司在60年谢公司活动中</a></li>
							<li><a href="news_detail.html">情满春节，感谢有你——项目部开展</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="administrative right">
				<div class="title orange">行政办公</div>
				<ul>
					<li><a href=""><img src="/images/home/xz_pt1.jpg" alt="" /></a></li>
					<li><a href=""><img src="/images/home/xz_pt2.jpg" alt="" /></a></li>
					<li><a href=""><img src="/images/home/xz_pt3.jpg" alt="" /></a></li>
				</ul>
			</div>
		</div>
		<div class="blank20"></div>
		<div>
			<div class="news_box left">
				<div class="title yahei"><a href="" class="more_btn right">更多</a><div class="name"><span class="ic_1">党群建设</span></div></div>
				<div>
					<dl class="news_1">
						<dt class="yahei"><a href="">机构:原油价格下半年料进一步下跌</a></dt>
						<dd>摘要：德意志银行上调大部分大宗商品的2014年价格预估，将布兰特原油期货和美国原油期货预估价格分别上调至...<a href="" class="orange_font">详细>></a></dd>
					</dl>
					<ul class="news_list">
						<li><a href="">情满春节，感谢有你——项目谢公司在部开展</a></li>
						<li><a href="">福清项目部开展压力与情谢公司工绪心理健康</a></li>
						<li><a href="">集团致信感谢公司在核谢公司在核工业60年</a></li>
						<li><a href="">一样的笑容，一样的关谢公司在工怀──福清谢 </a></li>
						<li><a href="">情满春节，感谢谢公司在核工有—项目部开展</a></li>
						<li><a href="">集团致信感谢公司在核工业60年谢公司谢公司活</a></li>
					</ul>
				</div>
			</div>
			<div class="news_box left">
				<div class="title yahei"><a href="ljcy_list.html" class="more_btn right">更多</a><div class="name"><span class="ic_1">廉洁从业</span></div></div>
				<div>
					<ul class="news_2">
						<li><a href="" class="orange_font right">【下载】</a><a href="">情满春节，感谢有你——项目谢在部开展</a></li>
						<li><a href="" class="orange_font right">【下载】</a><a href="">福清项目部开展压力与情谢公心理健康</a></li>
						<li><a href="" class="orange_font right">【下载】</a><a href="">集团致信感谢公司在核谢公工业60年</a></li>
						<li><a href="" class="orange_font right">【下载】</a><a href="">一样的笑容，一样的关谢公怀──福清谢 </a></li>
						<li><a href="" class="orange_font right">【下载】</a><a href="">情满春节，感谢谢公司在核工目部开展</a></li>
						<li><a href="" class="orange_font right">【下载】</a><a href="">集团致信感谢公司在核工业6司谢公司活</a></li>
						<li><a href="" class="orange_font right">【下载】</a><a href="">一样的笑容，一样的关谢公怀──福清谢 </a></li>
						<li><a href="" class="orange_font right">【下载】</a><a href="">情满春节，感谢谢公司在核工目部开展</a></li>
						<li><a href="" class="orange_font right">【下载】</a><a href="">集团致信感谢公司在核工业6司谢公司活</a></li>
					</ul>
				</div>
			</div>
			<div class="about_con right">
				<div class="title">部门简介</div>
				<p class="pt"><img src="/images/home/about_pt1.jpg" alt="" /></p>
				<p class="wz">中国核工业集团公司是经国务院批准组建的特大型国有独资企业，其前身是二机部、核工业部、中国核工业总公司，由100多家企事业单位.....<a href="" class="orange_font">详情</a></p>
			</div>
		</div>
		<div class="blank15"></div>
		<div class="links_box">
			<div class="title"><span class="name">友情链接</span></div>
			<div class="links_con"><a href="">核工业建设集团</a><a href="">航天科技集团公司</a><a href="">航天科工集团公司</a><a href="">航空工业第一集团</a><a href="">船舶工业集团公司</a><a href="">兵器工业集团公司</a><a href="">兵器装备集团公司</a><a href="">中华环保联合会网</a><a href="">中国兵器止戈网</a><a href="">中国广东核电集团</a><a href="">中国电力投资集团公司</a><a href="">中国兵器止戈网</a><a href="">中国广东核电集团</a><a href="">中国电力投资集团公司</a></div>
			<div class="clear"></div>
		</div>
	</div>

