	<div id="sidebar">
			<div class="side-col ui-sortable">
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">首页管理</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/cms_homes?kind=0" title="Default Theme">轮播图管理</a>
							</li>
							<li>
								<a class="set_theme" id="default" href="/cms_homes?kind=1" title="Default Theme">最新通告管理</a>
							</li>
							
							<li>
								<a class="set_theme" id="default" href="/cms_homes?kind=2" title="Default Theme">首页部门管理</a>
							</li>
							<li>
								<a class="set_theme" id="default" href="/cms_homes?kind=3" title="Default Theme">友情链接管理</a>
							</li>

							<li>
								<a class="set_theme" id="default" href="/cms_notices" title="Default Theme">重要通知管理</a>
							</li>
				
						</ul>
					</div>
				</div>
			</div>

    </div>