	<div id="sidebar">
			<div class="side-col ui-sortable">
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">廉洁从政管理</div>
					<div class="portlet-content">
						<ul class="side-menu">
							<li>
								<a class="set_theme" id="default" href="/cms_dangquns/new" title="Default Theme">上传廉洁从政文件</a>
							</li>
							<li>
								<a class="set_theme" id="light_blue" href="/cms_dangquns" title="Light Blue Theme">廉洁从政列表</a>
							</li>
							
							
						</ul>
					</div>
				</div>
			</div>

    </div>