<div class="list_ban" style="background-image: url(/images/home/list_banner.jpg);"></div>
	<div class="index_box list_bg">
		<div class="menu_box left">
			<div class="title_name">党群建设</div>
			<div class="menu_con">
				<ul>
					<li ><a href="/home_department_articles">部门动态</a></li>
					<li ><a href="/home_notifications">重要通知</a></li>
					<li><a href="/home_lanjies">廉洁从政</a></li>
					
				</ul>
				<div class="kj_con">
					<p><a href="/departments/about_us"><img src="/images/home/kj_pt1.jpg" alt="" /></a></p>
					<p><a href="/dashboards"><img src="/images/home/kj_pt2.jpg" alt="" /></a></p>
				</div>
			</div>
		</div>
		<div class="list_content right">
			<div class="title_con"><span class="right">当前位置：<a href="/">首页</a> > <span class="blue">党群建设</span></span><span class="name">党群建设</span></div>
			<div class="news_list_con">
				<ul>
					<%@articles.each do |article|%>
					<li><span class="right"><%=article.updated_at.strftime("%Y-%m-%d")%></span><a href="/home_dang_articles/<%=article.id%>"><%=article.title%></a></li>
					<%end%>
					
				</ul>

				 <%=paginate @articles%>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="blank10"></div>